.businessCard{
    height: 120px;
    padding:20px 30px;
    color: white;
    margin-bottom: 20px;
}
.businessCard i{
    font-size: 50px;
    margin-right: 20px;
}
.background-primary{
    background-color: #1CC7C1;
}
.background-dark{
    background-color: #3A4256;
}