.prescriptionTable-container{
    background-color:white;
    padding:20px;
    height:550px;
    overflow: scroll;
    overflow-x: hidden;
}
.prescriptionTable-container table td {
    padding-bottom: 0px;
    padding-top: 0px;
}
.prescriptionTable-container table td button{
    padding:3px 20px;
    margin: 5px 0px;
}